[submodule "famaf-computer_science-models_and_simulation-probability_distribution_selection"]
	path = famaf-computer_science-models_and_simulation-probability_distribution_selection
	url = https://github.com/helcsnewsxd/famaf-computer_science-models_and_simulation-probability_distribution_selection.git
